/**
 * Lyssl colors
 * @package Lyssl
 * @module Colors
 */

/**
 * greenFrog
 *
 * @var {color} $greenFrog
 */
$greenFrog = #256E2B

/**
 * orangeSun
 * @var {color} $orangeSun
 */
$orangeSun = #F1BE2D

/**
 * redCherry
 * @var {color} $redCherry
 */
$redCherry = #972D36

/**
 * purplePlum
 * @var {color} $purplePlum
 */
$purplePlum = #4A176D

/**
 * yellowSnow
 * @var {color} $yellowSnow
 */
$yellowSnow = #EAFF00

/**
 * brownWood
 * @var {color} $brownWood
 */
$brownWood = #5A3914

/**
 * blueLagoon
 * @var {color} $blueLagoon
 */
$blueLagoon = #1665E5

/**
 * blackHole
 * @var {color} $blackHole
 */
$blackHole = #000

/**
 * greyShark
 * @var {color} $greyShark
 */
$greyShark = #aaaab0

/**
 * greyWolf
 * @var {color} $greyWolf
 */
$greyWolf = #48484a

/**
 * greyRock
 * @var {color} $greyRock
 */
$greyRock = #292a30
