/**
 * @package Lyssl
 * @module Labels
 */
 
/**
 * Label middleware
 *
 * Styles a label tag
 *
 * @selector ly-label
 * 
 */
lz-label()
    border-radius 5px
    padding 4px
    font-size 14px
    color #fff
    display inline-block
    
    &.label-public
        background-color $greenFrog

    &.label-protected
        background-color $orangeSun

    &.label-private
        background-color $redCherry
        
    &.label-version
        background-color $redCherry

    &.label-unimplemented
        background-color $purplePlum

    &.label-beta
        background-color $blueLagoon
        
    &.label-new
        background-color $yellowSnow
        color #000

    &.label-deprecated
        background-color $brownWood

