/**
 * Github's Octicons icons for Lyzzl
 *
 * @link https://octicons.github.com
 *
 * @package Lyssl
 * @module Icons
 * @submodule Octicons
 */

@font-face
    font-family 'octicons'
    src url('fonts/octicons.eot?#iefix') format('embedded-opentype'),
        url('fonts/octicons.woff') format('woff'),
        url('fonts/octicons.ttf') format('truetype'),
        url('fonts/octicons.svg#octicons') format('svg')
    font-weight normal
    font-style normal

$icons = {}
$icons['alert'] = '\f02d'
$icons['arrow-down'] = '\f03f'
$icons['arrow-left'] = '\f040'
$icons['arrow-right'] = '\f03e'
$icons['arrow-small-down'] = '\f0a0'
$icons['arrow-small-left'] = '\f0a1'
$icons['arrow-small-right'] = '\f071'
$icons['arrow-small-up'] = '\f09f'
$icons['arrow-up'] = '\f03d'
$icons['beaker'] = '\f0dd'
$icons['bell'] = '\f0de'
$icons['bold'] = '\f0e2'
$icons['book'] = '\f007'
$icons['bookmark'] = '\f07b'
$icons['briefcase'] = '\f0d3'
$icons['broadcast'] = '\f048'
$icons['browser'] = '\f0c5'
$icons['bug'] = '\f091'
$icons['calendar'] = '\f068'
$icons['check'] = '\f03a'
$icons['checklist'] = '\f076'
$icons['chevron-down'] = '\f0a3'
$icons['chevron-left'] = '\f0a4'
$icons['chevron-right'] = '\f078'
$icons['chevron-up'] = '\f0a2'
$icons['circle-slash'] = '\f084'
$icons['circuit-board'] = '\f0d6'
$icons['clippy'] = '\f035'
$icons['clock'] = '\f046'
$icons['cloud-download'] = '\f00b'
$icons['cloud-upload'] = '\f00c'
$icons['code'] = '\f05f'
$icons['comment'] = '\f02b'
$icons['comment-discussion'] = '\f04f'
$icons['credit-card'] = '\f045'
$icons['dash'] = '\f0ca'
$icons['dashboard'] = '\f07d'
$icons['database'] = '\f096'
$icons['desktop-download'] = '\f0dc'
$icons['device-camera'] = '\f056'
$icons['device-camera-video'] = '\f057'
$icons['device-desktop'] = '\f27c'
$icons['device-mobile'] = '\f038'
$icons['diff'] = '\f04d'
$icons['diff-added'] = '\f06b'
$icons['diff-ignored'] = '\f099'
$icons['diff-modified'] = '\f06d'
$icons['diff-removed'] = '\f06c'
$icons['diff-renamed'] = '\f06e'
$icons['ellipsis'] = '\f09a'
$icons['eye'] = '\f04e'
$icons['file-binary'] = '\f094'
$icons['file-code'] = '\f010'
$icons['file-directory'] = '\f016'
$icons['file-media'] = '\f012'
$icons['file-pdf'] = '\f014'
$icons['file-submodule'] = '\f017'
$icons['file-symlink-directory'] = '\f0b1'
$icons['file-symlink-file'] = '\f0b0'
$icons['file-text'] = '\f011'
$icons['file-zip'] = '\f013'
$icons['flame'] = '\f0d2'
$icons['fold'] = '\f0cc'
$icons['gear'] = '\f02f'
$icons['gift'] = '\f042'
$icons['gist'] = '\f00e'
$icons['gist-secret'] = '\f08c'
$icons['git-branch'] = '\f020'
$icons['git-commit'] = '\f01f'
$icons['git-compare'] = '\f0ac'
$icons['git-merge'] = '\f023'
$icons['git-pull-request'] = '\f009'
$icons['globe'] = '\f0b6'
$icons['graph'] = '\f043'
$icons['heart'] = '\2665'
$icons['history'] = '\f07e'
$icons['home'] = '\f08d'
$icons['horizontal-rule'] = '\f070'
$icons['hubot'] = '\f09d'
$icons['inbox'] = '\f0cf'
$icons['info'] = '\f059'
$icons['issue-closed'] = '\f028'
$icons['issue-opened'] = '\f026'
$icons['issue-reopened'] = '\f027'
$icons['italic'] = '\f0e4'
$icons['jersey'] = '\f019'
$icons['key'] = '\f049'
$icons['keyboard'] = '\f00d'
$icons['law'] = '\f0d8'
$icons['light-bulb'] = '\f000'
$icons['link'] = '\f05c'
$icons['link-external'] = '\f07f'
$icons['list-ordered'] = '\f062'
$icons['list-unordered'] = '\f061'
$icons['location'] = '\f060'
$icons['lock'] = '\f06a'
$icons['logo-gist'] = '\f0ad'
$icons['logo-github'] = '\f092'
$icons['mail'] = '\f03b'
$icons['mail-read'] = '\f03c'
$icons['mail-reply'] = '\f051'
$icons['mark-github'] = '\f00a'
$icons['markdown'] = '\f0c9'
$icons['megaphone'] = '\f077'
$icons['mention'] = '\f0be'
$icons['milestone'] = '\f075'
$icons['mirror'] = '\f024'
$icons['mortar-board'] = '\f0d7'
$icons['mute'] = '\f080'
$icons['no-newline'] = '\f09c'
$icons['octoface'] = '\f008'
$icons['organization'] = '\f037'
$icons['package'] = '\f0c4'
$icons['paintcan'] = '\f0d1'
$icons['pencil'] = '\f058'
$icons['person'] = '\f018'
$icons['pin'] = '\f041'
$icons['plug'] = '\f0d4'
$icons['plus'] = '\f05d'
$icons['primitive-dot'] = '\f052'
$icons['primitive-square'] = '\f053'
$icons['pulse'] = '\f085'
$icons['question'] = '\f02c'
$icons['quote'] = '\f063'
$icons['radio-tower'] = '\f030'
$icons['repo'] = '\f001'
$icons['repo-force-push'] = '\f04a'
$icons['repo-clone'] = '\f04c'
$icons['repo-forked'] = '\f002'
$icons['repo-pull'] = '\f006'
$icons['repo-push'] = '\f005'
$icons['rocket'] = '\f033'
$icons['rss'] = '\f034'
$icons['ruby'] = '\f047'
$icons['search'] = '\f02e'
$icons['server'] = '\f097'
$icons['settings'] = '\f07c'
$icons['shield'] = '\f0e1'
$icons['sign-in'] = '\f036'
$icons['sign-out'] = '\f032'
$icons['smiley'] = '\f0e7'
$icons['squirrel'] = '\f0b2'
$icons['star'] = '\f02a'
$icons['stop'] = '\f08f'
$icons['sync'] = '\f087'
$icons['tag'] = '\f015'
$icons['tasklist'] = '\f0e5'
$icons['telescope'] = '\f088'
$icons['terminal'] = '\f0c8'
$icons['text-size'] = '\f0e3'
$icons['three-bars'] = '\f05e'
$icons['thumbsdown'] = '\f0db'
$icons['thumbsup'] = '\f0da'
$icons['tools'] = '\f031'
$icons['trashcan'] = '\f0d0'
$icons['triangle-down'] = '\f05b'
$icons['triangle-left'] = '\f044'
$icons['triangle-right'] = '\f05a'
$icons['triangle-up'] = '\f0aa'
$icons['unfold'] = '\f039'
$icons['unmute'] = '\f0ba'
$icons['unverified'] = '\f0e8'
$icons['verified'] = '\f0e6'
$icons['versions'] = '\f064'
$icons['watch'] = '\f0e0'
$icons['x'] = '\f081'
$icons['zap'] = '\26A1'

/**
 * Styles an octicon icon
 *
 * @mixin ll-octicon
 * @param  {string} $name    Icon name
 * @param  {size} $size      Icon size
 * @param  {size} $padding   Icon right padding
 *
 * @example {stylus}
 * .link
 *   ll-octicon(gear, 16px)
 *   color #000
 *
 * @preview
 * <h1>Icons</h1>
 * <ul class="dd-grid-preview">
 *   <li class="octicon octicon-alert"><span class="name">alert</span></li>
 *   <li class="octicon octicon-arrow-down"><span class="name">arrow-down</span></li>
 *   <li class="octicon octicon-arrow-left"><span class="name">arrow-left</span></li>
 *   <li class="octicon octicon-arrow-right"><span class="name">arrow-right</span></li>
 *   <li class="octicon octicon-arrow-small-down"><span class="name">arrow-small-down</span></li>
 *   <li class="octicon octicon-arrow-small-left"><span class="name">arrow-small-left</span></li>
 *   <li class="octicon octicon-arrow-small-right"><span class="name">arrow-small-right</span></li>
 *   <li class="octicon octicon-arrow-small-up"><span class="name">arrow-small-up</span></li>
 *   <li class="octicon octicon-arrow-up"><span class="name">arrow-up</span></li>
 *   <li class="octicon octicon-beaker"><span class="name">beaker</span></li>
 *   <li class="octicon octicon-bell"><span class="name">bell</span></li>
 *   <li class="octicon octicon-bold"><span class="name">bold</span></li>
 *   <li class="octicon octicon-book"><span class="name">book</span></li>
 *   <li class="octicon octicon-bookmark"><span class="name">bookmark</span></li>
 *   <li class="octicon octicon-briefcase"><span class="name">briefcase</span></li>
 *   <li class="octicon octicon-broadcast"><span class="name">broadcast</span></li>
 *   <li class="octicon octicon-browser"><span class="name">browser</span></li>
 *   <li class="octicon octicon-bug"><span class="name">bug</span></li>
 *   <li class="octicon octicon-calendar"><span class="name">calendar</span></li>
 *   <li class="octicon octicon-check"><span class="name">check</span></li>
 *   <li class="octicon octicon-checklist"><span class="name">checklist</span></li>
 *   <li class="octicon octicon-chevron-down"><span class="name">chevron-down</span></li>
 *   <li class="octicon octicon-chevron-left"><span class="name">chevron-left</span></li>
 *   <li class="octicon octicon-chevron-right"><span class="name">chevron-right</span></li>
 *   <li class="octicon octicon-chevron-up"><span class="name">chevron-up</span></li>
 *   <li class="octicon octicon-circle-slash"><span class="name">circle-slash</span></li>
 *   <li class="octicon octicon-circuit-board"><span class="name">circuit-board</span></li>
 *   <li class="octicon octicon-clippy"><span class="name">clippy</span></li>
 *   <li class="octicon octicon-clock"><span class="name">clock</span></li>
 *   <li class="octicon octicon-cloud-download"><span class="name">cloud-download</span></li>
 *   <li class="octicon octicon-cloud-upload"><span class="name">cloud-upload</span></li>
 *   <li class="octicon octicon-code"><span class="name">code</span></li>
 *   <li class="octicon octicon-comment"><span class="name">comment</span></li>
 *   <li class="octicon octicon-comment-discussion"><span class="name">comment-discussion</span></li>
 *   <li class="octicon octicon-credit-card"><span class="name">credit-card</span></li>
 *   <li class="octicon octicon-dash"><span class="name">dash</span></li>
 *   <li class="octicon octicon-dashboard"><span class="name">dashboard</span></li>
 *   <li class="octicon octicon-database"><span class="name">database</span></li>
 *   <li class="octicon octicon-desktop-download"><span class="name">desktop-download</span></li>
 *   <li class="octicon octicon-device-camera"><span class="name">device-camera</span></li>
 *   <li class="octicon octicon-device-camera-video"><span class="name">device-camera-video</span></li>
 *   <li class="octicon octicon-device-desktop"><span class="name">device-desktop</span></li>
 *   <li class="octicon octicon-device-mobile"><span class="name">device-mobile</span></li>
 *   <li class="octicon octicon-diff"><span class="name">diff</span></li>
 *   <li class="octicon octicon-diff-added"><span class="name">diff-added</span></li>
 *   <li class="octicon octicon-diff-ignored"><span class="name">diff-ignored</span></li>
 *   <li class="octicon octicon-diff-modified"><span class="name">diff-modified</span></li>
 *   <li class="octicon octicon-diff-removed"><span class="name">diff-removed</span></li>
 *   <li class="octicon octicon-diff-renamed"><span class="name">diff-renamed</span></li>
 *   <li class="octicon octicon-ellipsis"><span class="name">ellipsis</span></li>
 *   <li class="octicon octicon-eye"><span class="name">eye</span></li>
 *   <li class="octicon octicon-file-binary"><span class="name">file-binary</span></li>
 *   <li class="octicon octicon-file-code"><span class="name">file-code</span></li>
 *   <li class="octicon octicon-file-directory"><span class="name">file-directory</span></li>
 *   <li class="octicon octicon-file-media"><span class="name">file-media</span></li>
 *   <li class="octicon octicon-file-pdf"><span class="name">file-pdf</span></li>
 *   <li class="octicon octicon-file-submodule"><span class="name">file-submodule</span></li>
 *   <li class="octicon octicon-file-symlink-directory"><span class="name">file-symlink-directory</span></li>
 *   <li class="octicon octicon-file-symlink-file"><span class="name">file-symlink-file</span></li>
 *   <li class="octicon octicon-file-text"><span class="name">file-text</span></li>
 *   <li class="octicon octicon-file-zip"><span class="name">file-zip</span></li>
 *   <li class="octicon octicon-flame"><span class="name">flame</span></li>
 *   <li class="octicon octicon-fold"><span class="name">fold</span></li>
 *   <li class="octicon octicon-gear"><span class="name">gear</span></li>
 *   <li class="octicon octicon-gift"><span class="name">gift</span></li>
 *   <li class="octicon octicon-gist"><span class="name">gist</span></li>
 *   <li class="octicon octicon-gist-secret"><span class="name">gist-secret</span></li>
 *   <li class="octicon octicon-git-branch"><span class="name">git-branch</span></li>
 *   <li class="octicon octicon-git-commit"><span class="name">git-commit</span></li>
 *   <li class="octicon octicon-git-compare"><span class="name">git-compare</span></li>
 *   <li class="octicon octicon-git-merge"><span class="name">git-merge</span></li>
 *   <li class="octicon octicon-git-pull-request"><span class="name">git-pull-request</span></li>
 *   <li class="octicon octicon-globe"><span class="name">globe</span></li>
 *   <li class="octicon octicon-graph"><span class="name">graph</span></li>
 *   <li class="octicon octicon-heart"><span class="name">heart</span></li>
 *   <li class="octicon octicon-history"><span class="name">history</span></li>
 *   <li class="octicon octicon-home"><span class="name">home</span></li>
 *   <li class="octicon octicon-horizontal-rule"><span class="name">horizontal-rule</span></li>
 *   <li class="octicon octicon-hubot"><span class="name">hubot</span></li>
 *   <li class="octicon octicon-inbox"><span class="name">inbox</span></li>
 *   <li class="octicon octicon-info"><span class="name">info</span></li>
 *   <li class="octicon octicon-issue-closed"><span class="name">issue-closed</span></li>
 *   <li class="octicon octicon-issue-opened"><span class="name">issue-opened</span></li>
 *   <li class="octicon octicon-issue-reopened"><span class="name">issue-reopened</span></li>
 *   <li class="octicon octicon-italic"><span class="name">italic</span></li>
 *   <li class="octicon octicon-jersey"><span class="name">jersey</span></li>
 *   <li class="octicon octicon-key"><span class="name">key</span></li>
 *   <li class="octicon octicon-keyboard"><span class="name">keyboard</span></li>
 *   <li class="octicon octicon-law"><span class="name">law</span></li>
 *   <li class="octicon octicon-light-bulb"><span class="name">light-bulb</span></li>
 *   <li class="octicon octicon-link"><span class="name">link</span></li>
 *   <li class="octicon octicon-link-external"><span class="name">link-external</span></li>
 *   <li class="octicon octicon-list-ordered"><span class="name">list-ordered</span></li>
 *   <li class="octicon octicon-list-unordered"><span class="name">list-unordered</span></li>
 *   <li class="octicon octicon-location"><span class="name">location</span></li>
 *   <li class="octicon octicon-lock"><span class="name">lock</span></li>
 *   <li class="octicon octicon-logo-gist"><span class="name">logo-gist</span></li>
 *   <li class="octicon octicon-logo-github"><span class="name">logo-github</span></li>
 *   <li class="octicon octicon-mail"><span class="name">mail</span></li>
 *   <li class="octicon octicon-mail-read"><span class="name">mail-read</span></li>
 *   <li class="octicon octicon-mail-reply"><span class="name">mail-reply</span></li>
 *   <li class="octicon octicon-mark-github"><span class="name">mark-github</span></li>
 *   <li class="octicon octicon-markdown"><span class="name">markdown</span></li>
 *   <li class="octicon octicon-megaphone"><span class="name">megaphone</span></li>
 *   <li class="octicon octicon-mention"><span class="name">mention</span></li>
 *   <li class="octicon octicon-milestone"><span class="name">milestone</span></li>
 *   <li class="octicon octicon-mirror"><span class="name">mirror</span></li>
 *   <li class="octicon octicon-mortar-board"><span class="name">mortar-board</span></li>
 *   <li class="octicon octicon-mute"><span class="name">mute</span></li>
 *   <li class="octicon octicon-no-newline"><span class="name">no-newline</span></li>
 *   <li class="octicon octicon-octoface"><span class="name">octoface</span></li>
 *   <li class="octicon octicon-organization"><span class="name">organization</span></li>
 *   <li class="octicon octicon-package"><span class="name">package</span></li>
 *   <li class="octicon octicon-paintcan"><span class="name">paintcan</span></li>
 *   <li class="octicon octicon-pencil"><span class="name">pencil</span></li>
 *   <li class="octicon octicon-person"><span class="name">person</span></li>
 *   <li class="octicon octicon-pin"><span class="name">pin</span></li>
 *   <li class="octicon octicon-plug"><span class="name">plug</span></li>
 *   <li class="octicon octicon-plus"><span class="name">plus</span></li>
 *   <li class="octicon octicon-primitive-dot"><span class="name">primitive-dot</span></li>
 *   <li class="octicon octicon-primitive-square"><span class="name">primitive-square</span></li>
 *   <li class="octicon octicon-pulse"><span class="name">pulse</span></li>
 *   <li class="octicon octicon-question"><span class="name">question</span></li>
 *   <li class="octicon octicon-quote"><span class="name">quote</span></li>
 *   <li class="octicon octicon-radio-tower"><span class="name">radio-tower</span></li>
 *   <li class="octicon octicon-repo"><span class="name">repo</span></li>
 *   <li class="octicon octicon-repo-force-push"><span class="name">repo-force-push</span></li>
 *   <li class="octicon octicon-repo-clone"><span class="name">repo-clone</span></li>
 *   <li class="octicon octicon-repo-forked"><span class="name">repo-forked</span></li>
 *   <li class="octicon octicon-repo-pull"><span class="name">repo-pull</span></li>
 *   <li class="octicon octicon-repo-push"><span class="name">repo-push</span></li>
 *   <li class="octicon octicon-rocket"><span class="name">rocket</span></li>
 *   <li class="octicon octicon-rss"><span class="name">rss</span></li>
 *   <li class="octicon octicon-ruby"><span class="name">ruby</span></li>
 *   <li class="octicon octicon-search"><span class="name">search</span></li>
 *   <li class="octicon octicon-server"><span class="name">server</span></li>
 *   <li class="octicon octicon-settings"><span class="name">settings</span></li>
 *   <li class="octicon octicon-shield"><span class="name">shield</span></li>
 *   <li class="octicon octicon-sign-in"><span class="name">sign-in</span></li>
 *   <li class="octicon octicon-sign-out"><span class="name">sign-out</span></li>
 *   <li class="octicon octicon-smiley"><span class="name">smiley</span></li>
 *   <li class="octicon octicon-squirrel"><span class="name">squirrel</span></li>
 *   <li class="octicon octicon-star"><span class="name">star</span></li>
 *   <li class="octicon octicon-stop"><span class="name">stop</span></li>
 *   <li class="octicon octicon-sync"><span class="name">sync</span></li>
 *   <li class="octicon octicon-tag"><span class="name">tag</span></li>
 *   <li class="octicon octicon-tasklist"><span class="name">tasklist</span></li>
 *   <li class="octicon octicon-telescope"><span class="name">telescope</span></li>
 *   <li class="octicon octicon-terminal"><span class="name">terminal</span></li>
 *   <li class="octicon octicon-text-size"><span class="name">text-size</span></li>
 *   <li class="octicon octicon-three-bars"><span class="name">three-bars</span></li>
 *   <li class="octicon octicon-thumbsdown"><span class="name">thumbsdown</span></li>
 *   <li class="octicon octicon-thumbsup"><span class="name">thumbsup</span></li>
 *   <li class="octicon octicon-tools"><span class="name">tools</span></li>
 *   <li class="octicon octicon-trashcan"><span class="name">trashcan</span></li>
 *   <li class="octicon octicon-triangle-down"><span class="name">triangle-down</span></li>
 *   <li class="octicon octicon-triangle-left"><span class="name">triangle-left</span></li>
 *   <li class="octicon octicon-triangle-right"><span class="name">triangle-right</span></li>
 *   <li class="octicon octicon-triangle-up"><span class="name">triangle-up</span></li>
 *   <li class="octicon octicon-unfold"><span class="name">unfold</span></li>
 *   <li class="octicon octicon-unmute"><span class="name">unmute</span></li>
 *   <li class="octicon octicon-unverified"><span class="name">unverified</span></li>
 *   <li class="octicon octicon-verified"><span class="name">verified</span></li>
 *   <li class="octicon octicon-versions"><span class="name">versions</span></li>
 *   <li class="octicon octicon-watch"><span class="name">watch</span></li>
 *   <li class="octicon octicon-x"><span class="name">x</span></li>
 *   <li class="octicon octicon-zap"><span class="name">zap</span></li>
 * </ul>
 */
ll-octicon($name, $size = 16px, $padding = 0)
    &::before
        padding-right $padding
        font normal normal normal $size/1 octicons
        content $icons[$name]

use-octicons()
    .octicon,
    .mega-octicon
        font normal normal normal 16px/1 octicons
        display inline-block
        text-decoration none
        text-rendering auto
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        -webkit-user-select none
        -moz-user-select none
        -ms-user-select none
        user-select none

    .mega-octicon
        font-size 32px

    for $key, $value in $icons
        .octicon-{$key}
            &::before
                content: $value
