/**
 * @package Lyssl
 * @module Tooltip
 */

/**
 * Tooltip mixin
 *
 * Styles a tooltip tag
 *
 * @mixin ll-tooltip
 *
 */
ll-tooltip()
  border-radius 5px
  padding 2px 5px
  font-size 14px
  color #fff
  position absolute
  background-color $blueLagoon

  &::after
    content ''
    width 0
    height 0
    position absolute
    bottom -8px
    left 50%
    margin-left -8px
    border 8px solid transparent
    border-top-color $blueLagoon
    border-bottom 0

  &.type-warn
    background-color $orangeSun
    color #000

  &.type-error
    background-color $redCherry
